In [205]:
# Import the pathlib and csv library
from pathlib import Path
import csv

# Initialize the metric variables
count = 0
total = 0
average = 0
minimum = 0
maximum = 0
line_num = 0
total_change = 0
# Initialize lists to hold profitable and unprofitable months profits/losses
pnls = []

profitable_months = []

unprofitable_months = []

In [206]:
# Set the file path
csvpath = Path('C:/Users/Eamonn/Desktop/Resources/budget_data.csv')

In [207]:
with open(csvpath, 'r') as csvfile:

    # Pass in the csv file to the csv.reader() function
    # (with ',' as the delmiter/separator) and return the csvreader object
    csvreader = csv.reader(csvfile, delimiter=',')
    
    print(type(csvreader))

    # Read the header row first (skip this step if there is no header)
    csv_header = next(csvreader)
    line_num += 1
    # Print the header
    print(csv_header)
 # Read each row of data after the header
    for row in csvreader:
        # Print the row
        print(row)
        
        #Test to see if Date prints 
        date = row[0]
        print(date)
        
        #Create a list of all the months and make a pnls an integer in order to append it to a list 
        pnl = int(row[1])
        print(pnl)
        pnls.append(pnl)

<class '_csv.reader'>
['Date', 'Profit/Losses']
['Jan-2010', '867884']
Jan-2010
867884
['Feb-2010', '984655']
Feb-2010
984655
['Mar-2010', '322013']
Mar-2010
322013
['Apr-2010', '-69417']
Apr-2010
-69417
['May-2010', '310503']
May-2010
310503
['Jun-2010', '522857']
Jun-2010
522857
['Jul-2010', '1033096']
Jul-2010
1033096
['Aug-2010', '604885']
Aug-2010
604885
['Sep-2010', '-216386']
Sep-2010
-216386
['Oct-2010', '477532']
Oct-2010
477532
['Nov-2010', '893810']
Nov-2010
893810
['Dec-2010', '-80353']
Dec-2010
-80353
['Jan-2011', '779806']
Jan-2011
779806
['Feb-2011', '-335203']
Feb-2011
-335203
['Mar-2011', '697845']
Mar-2011
697845
['Apr-2011', '793163']
Apr-2011
793163
['May-2011', '485070']
May-2011
485070
['Jun-2011', '584122']
Jun-2011
584122
['Jul-2011', '62729']
Jul-2011
62729
['Aug-2011', '668179']
Aug-2011
668179
['Sep-2011', '899906']
Sep-2011
899906
['Oct-2011', '834719']
Oct-2011
834719
['Nov-2011', '132003']
Nov-2011
132003
['Dec-2011', '309978']
Dec-2011
309978
['Jan-2012', '-755566']
Jan-2012
-755566
['Feb-2012', '1170593']
Feb-2012
1170593
['Mar-2012', '252788']
Mar-2012
252788
['Apr-2012', '1151518']
Apr-2012
1151518
['May-2012', '817256']
May-2012
817256
['Jun-2012', '570757']
Jun-2012
570757
['Jul-2012', '506702']
Jul-2012
506702
['Aug-2012', '-1022534']
Aug-2012
-1022534
['Sep-2012', '475062']
Sep-2012
475062
['Oct-2012', '779976']
Oct-2012
779976
['Nov-2012', '144175']
Nov-2012
144175
['Dec-2012', '542494']
Dec-2012
542494
['Jan-2013', '359333']
Jan-2013
359333
['Feb-2013', '321469']
Feb-2013
321469
['Mar-2013', '67780']
Mar-2013
67780
['Apr-2013', '471435']
Apr-2013
471435
['May-2013', '565603']
May-2013
565603
['Jun-2013', '872480']
Jun-2013
872480
['Jul-2013', '789480']
Jul-2013
789480
['Aug-2013', '999942']
Aug-2013
999942
['Sep-2013', '-1196225']
Sep-2013
-1196225
['Oct-2013', '268997']
Oct-2013
268997
['Nov-2013', '-687986']
Nov-2013
-687986
['Dec-2013', '1150461']
Dec-2013
1150461
['Jan-2014', '682458']
Jan-2014
682458
['Feb-2014', '617856']
Feb-2014
617856
['Mar-2014', '824098']
Mar-2014
824098
['Apr-2014', '581943']
Apr-2014
581943
['May-2014', '132864']
May-2014
132864
['Jun-2014', '448062']
Jun-2014
448062
['Jul-2014', '689161']
Jul-2014
689161
['Aug-2014', '800701']
Aug-2014
800701
['Sep-2014', '1166643']
Sep-2014
1166643
['Oct-2014', '947333']
Oct-2014
947333
['Nov-2014', '578668']
Nov-2014
578668
['Dec-2014', '988505']
Dec-2014
988505
['Jan-2015', '1139715']
Jan-2015
1139715
['Feb-2015', '1029471']
Feb-2015
1029471
['Mar-2015', '687533']
Mar-2015
687533
['Apr-2015', '-524626']
Apr-2015
-524626
['May-2015', '158620']
May-2015
158620
['Jun-2015', '87795']
Jun-2015
87795
['Jul-2015', '423389']
Jul-2015
423389
['Aug-2015', '840723']
Aug-2015
840723
['Sep-2015', '568529']
Sep-2015
568529
['Oct-2015', '332067']
Oct-2015
332067
['Nov-2015', '989499']
Nov-2015
989499
['Dec-2015', '778237']
Dec-2015
778237
['Jan-2016', '650000']
Jan-2016
650000
['Feb-2016', '-1100387']
Feb-2016
-1100387
['Mar-2016', '-174946']
Mar-2016
-174946
['Apr-2016', '757143']
Apr-2016
757143
['May-2016', '445709']
May-2016
445709
['Jun-2016', '712961']
Jun-2016
712961
['Jul-2016', '-1163797']
Jul-2016
-1163797
['Aug-2016', '569899']
Aug-2016
569899
['Sep-2016', '768450']
Sep-2016
768450
['Oct-2016', '102685']
Oct-2016
102685
['Nov-2016', '795914']
Nov-2016
795914
['Dec-2016', '60988']
Dec-2016
60988
['Jan-2017', '138230']
Jan-2017
138230
['Feb-2017', '671099']
Feb-2017
671099

In [208]:
# Test to see if list works 
print(pnls)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [209]:
print(len(pnls))
#Find length of how many months for first answer

86

In [210]:
# Separate the profitable months from the unprofitable and sort them into their repsective lists


for monthly_pnl in pnls:
    
    if minimum == 0:
        minimum = monthly_pnl
    elif monthly_pnl < minimum:
        minimum = monthly_pnl
    elif monthly_pnl > maximum:
        maximum = monthly_pnl
        
    if monthly_pnl > 0:
        profitable_months.append(monthly_pnl)
    elif monthly_pnl <= 0:
        unprofitable_months.append(monthly_pnl)

In [211]:
# Test to see if profitable months list works 
print(len(profitable_months))

print(profitable_months)

74
[867884, 984655, 322013, 310503, 522857, 1033096, 604885, 477532, 893810, 779806, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, 1170593, 252788, 1151518, 817256, 570757, 506702, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, 268997, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, 757143, 445709, 712961, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [212]:
# Test to see if list of unprofitable months work 
print(len(unprofitable_months))

print(unprofitable_months)

12
[-69417, -216386, -80353, -335203, -755566, -1022534, -1196225, -687986, -524626, -1100387, -174946, -1163797]

In [213]:
# Sum of profits and losses test to find the second part to the question 
total = sum(pnls)
print(total)

print(max(profitable_months))

38382578
1170593

In [204]:
#Make sure first answer to the question matches prompt 
count = len(pnls)
print(count)

86

In [198]:
print(pnls)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [199]:
#Make a list called monthy_change in order to find the marginal differences by month in the following for loop

monthly_change = []
for row in csvreader:

IndentationError: expected an indented block (38411255.py, line 4)